---
import Layout from '../layouts/Layout.astro'
import Project from '../components/Project.astro'
---

<Layout title="Daezen">
  <main class="w-screen">
    <h2 class="text-center">projects</h2>
    <Project />
  </main>
</Layout>
