---
console.log('javascript')
---

<div class="flex justify-center">
  <header class="flex items-center justify-between py-8 px-4 max-w-[95vmin] w-[800px] lg:py-16">
    <img src="favicon.jpeg" alt="icon" class="h-16" />
    <h1 class="text-2xl font-bold">Daezen</h1>
  </header>
</div>
